body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f9;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #111;
    color: white;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px;
    background: linear-gradient(135deg, #ffcc00, #ff9900);
}

.hero h1 {
    font-size: 40px;
}

.btn {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

/* CATEGORY */
.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    box-shadow: 0px 0px 10px #ccc;
}

/* PRODUCTS */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
}

.product-card {
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
}

.product-card button {
    background: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* CART */
.cart-box {
    text-align: center;
    margin-top: 100px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}